*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    
    display: inline-flex;
    align-items: center; 
    gap: 10px;
    
}
/* .btn img{
    
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-left: 16px 16px;
} */

#headingTitle{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    padding-bottom: 16px;
    /* max-width: 700px; */
}
#discrition-Paragraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
#whiteText{
    color: #FFFFFF;
}
#greenText{
    color: #30B868;
}

header{
      width: 100%; 
      max-width: 1600px;
}

nav{
    background-color: #FFFFFF;
    /* border: 1px solid rebeccapurple; */
    /* width: 100%;
    max-width: 1600px; */
    margin: 0 auto;  
    padding:16px 120px;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
/* nav img{
    padding:16px,120px;
} */
nav .menu {
    display: flex;
    list-style: none;
    gap:32px;
}
nav a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color:#000000;
}
.banner{
    background-image:url(../images/hero-bg.png);
    max-width: 1600px;
    height: 674px;
    padding: 125px 120px 180px 120px;
    /* margin: 0 auto; */
    text-align: center;
    /* align-items: center;    */
     
    

}
.banner-Container{
     /* margin: 0 auto;*/
    
     align-items: center; 
     text-align: center;
     
}  
.earlyAccess{
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 12px;
    width: 230px;
    height: 35px;
    margin: 0 auto;
    display:flex;

    gap: 6px; 
    
} 
.earlyAccess h6{
    color: #469165;
    font-size: 16px; 
    font-weight: 400;
}

.greenCircle{
    background-color: #469165;
    width: 16px;
    border-radius: 50%;
    box-shadow:1px #87d9a9 ;

}
.bannerTitle{
    padding: 16px 0px;
}

.bannerTitle h1{
    font-size: 72px;
    font-weight: 700;

}
.bannerPara{
    padding-bottom: 32px;
    margin: 0 auto;
    text-align: center;
}
.bannerPara p{
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
}
.Bannerbtns{
     display: inline-flex;
    align-items: center;
    gap:16px;
}
.TransparentBtn{
     /* background-color:none; */
     background: transparent;
    border:1px solid #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
} 
.note{
    /* padding: 0 120px; */
    max-width: 1600px;
    padding-top: 60px;
    background-color: #FFFFFF;
}
.note .note-container{
    /* padding-top: 70px; */
    width: 85%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    align-items: center;

}
/* .note .note-container.note-text{
    text-align: center;
    width: 85%;
    max-width: 1600px;
    margin: 0 auto;

} */
.cards{
    padding-top: 44px;
    display: flex;
    gap:24px;
}
.cards .card-container{
    /* padding-top: 70px; */
    max-width: 322px;
    /* border: 1px solid red; */
    box-shadow: 0 0 8px 0 #0000001c;
    padding: 69px 24px 20px 24px;
    align-items: center;
}
.cards .card-container .image-circle{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    margin: 0 auto;
   


}
.cards .card-container .image-circle img{
   padding: 14px;
}
.cards .card-container h4{
    padding-top: 16px;
    font-size: 24px;
    font-weight: 600;
   
}
.cards .card-container p{
    padding-top: 16px;
    text-align: center;
    margin: 0 auto;
}
.brain{
    max-width: 1600px;
    background-color:#ffffffd1 ;

}
.brain-container{
    padding: 120px;
    width: 85%;
    max-width:1600px;
    display: flex;
    /* justify-content: left; */
    gap: 60px;
    /* align-items: center; */
}

.brain-container .brain-imgs{
    max-width: 600px;
}
.brain-container .brain-text{
    padding-top: 102px;
    padding-bottom: 102px;
    padding-left: 0;
    /* text-align: left; */
    max-width: 800px;
    /* margin: 0 auto; */
    /* display: inline; */
}
.brain-container .brain-text h5{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    padding-bottom: 16px;
}
.list-items{
    padding-top: 40px;
}
.list-items ul li{
    display:inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #001931;
    gap:6px;
}
.ready{
    max-width: 1600px;
    background-color: #ffffffd1;
    padding: 0px 120px 120px 120px;
}
.ready .ready-container{
  
    padding: 80px 40px; 
    width: 85%;
    max-width: 1600px;
    background-color: #F7F6F2;
    border-radius:12px ;
    text-align: center;
    margin: 0 auto;

}
.ready .ready-container h2{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    padding-bottom: 16px;
}
.ready .ready-container .ready-btn {
    padding-top: 24px;

}
.ready .ready-container .readypara{
    padding-top: 16px;
}
footer{
    
    max-width: 1600px;
    padding: 120px 120px 20px 120px;
    background-color: #001931;

}
.footer-container{
   
    width: 85%;
    max-width: 1600px;
    margin: 0 auto;
}
.social{
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    /* align-items: center; */
}
.social-links-container .social-text h5{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    padding-bottom: 16px;
}
.social-links{
    
    display: flex;
    gap:16px;
   

}
.copyright{
  
    padding-top: 80px;
    text-align: center;
    
    /* align-items: center;*/
} 
.copyright hr{
    border: none;
    height: 1px;
    background-color: #E5E7EB;
   
}
.copyright p{
    padding-top: 30px;
    font-size: 16px;
    font-weight: 300;
    color:#FAFAFA;
    padding-bottom: 0;
}
   